h1 {
    colr: red;
    font-size: 2em;
    margin: 0.67em 0;
    color: red;
font-style: italic
}
element.style {
}
@media screen and (max-width: 42em)
.main-content {
    padding: 2rem 1rem;
    font-size: 2rem;
}
